<div class="bg-white">
    <legend class="subheader-secondary">Qu&eacute; gano registr&aacute;ndome ?</legend>
</div>
<ol>
    <li>No tengo que insertar anuncios repetidos, solo publico una vez</li>
    <li>Acceso a chat gratis. Puedo chatear con mis compradores en tiempo real y agilizar las ventas</li>
    <li>Puedo registrar mi espacio como tienda online totalmente gratis</li>
    <li>Tengo acceso a herramientas de marketing y estudios de mercado, tambi&eacute;n gratis</li>
    <li>Puedo crear promociones de productos</li>
</ol>
