{%for permiso in permisos%}
<td>        
    <div class="span3">
        <label><input mask="{{permiso}}" clase="{{clase}}" type="checkbox" class="ace-switch ace-switch-6" name="switch-field-1"><span class="lbl"></span></label>
    </div>
</td>
{%endfor%}